body {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: lightblue;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul{
    list-style-type: none;
    padding: 0;

    li{
      float: left;
      padding: 15px;
      }
    }
}
