body {
  margin: 0px;
  padding: 0px;
}

//Header CSS
header {
  background-color: lightblue;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul{
    list-style-type: none;
    padding: 0;

    li{
      float: left;
      padding: 15px;
      }
    }
}

//Intro Video CSS
.introVideoDiv{
  width: 100%;

  img{
    max-width: 100%;
    background-color: black;
  }
}
